
<div id = "comment_form">
    <form action="comment_received" method="POST">
        <!-- Name -->
        <h4> Name </h4>
        <label for="name"></label>
        <input type="text" name="name" id="comment_name" placeholder= "Name">
        <!-- Email Address -->
        <h4> Email </h4>
        <label for="Email"></label>
        <input type="text" name="email" id="comment_email" placeholder= "Email">
        <!-- Comments -->
        <h4> Comments </h4>
        <label for "comments"></label>
        <textarea name="comment" id="comment_box"></textarea>    
        <br>
        <input type="submit" id="comment_submit">   
    </form>  
  </div>
<br>
<br>
<br>
<br>