<div id="home_first_div">
  <div id="intro_words">
    <br><br><br><br>
    <h1>Ice Cream Delivered</h1>
    <h2>Anytime</h2>
    <h2>Anywhere</h2>
  </div>
  <img src="images/iphone.png" id="iphone">
  <img src="images/macbook.png" id="macbook">
</div>

<div id="home_second_div">
  <div align="center">
    <h1 id="fast_and_easy">Fast & Easy Delivery</h1>
    <img src="images/step1.png" class="steps">
    <img src="images/step2.png" class="steps">
    <img src="images/step3.png" class="steps">
    <br>
    <p class="step_nums">1</p>
    <p class="step_nums"> 2</p>
    <p class="step_nums">3</p>
    <br>
    <p class="step_description">browse our flavors</p>
    <p class="step_description">place your order</p>
    <p class="step_description">get your ice cream</p>
  </div>
</div>

