<div id="home_first_div">
  <div id="home_intro_words">
    <br><br><br><br>
    <h1>Ice Cream Delivered</h1>
    <h2><span id="delay1">Anytime,</span> <span id="delay2">Anywhere</span></h2>
  </div>
  <img src="images/iphone.png" id="home_iphone">
  <img src="images/macbook.png" id="home_macbook">
</div>

<div id="home_second_div">
  <div align="center">
    <h1 id="fast_and_easy">Fast & Easy Delivery</h1>
    <img src="images/step1.png" class="steps">
    <img src="images/step2.png" class="steps">
    <img src="images/step3.png" class="steps">
    <br>
    <p class="step_nums">1</p>
    <p class="step_nums"> 2</p>
    <p class="step_nums">3</p>
    <br>
    <p class="step_description">browse our flavors</p>
    <p class="step_description">place your order</p>
    <p class="step_description">get your ice cream</p>
  </div>
</div>

<div id="home_third_div">
  <div align="center" id="cities_wrapper">
    <div class="imgWrap">
      <img src="images/manhattan.jpg" alt="" class="cities_photos">
      <p class="imgDescription">This image looks super neat.</p>
    </div>
    <div class="imgWrap">
      <img src="images/austin.jpg" alt="" class="cities_photos">
      <p class="imgDescription">This image looks super neat.</p>
    </div>
    <div class="imgWrap">
      <img src="images/seattle.jpg" alt="" class="cities_photos">
      <p class="imgDescription">This image looks super neat.</p>
    </div>
    <div class="imgWrap">
      <img src="images/dubai.jpg" alt="" class="cities_photos">
      <p class="imgDescription">This image looks super neat.</p>
    </div>
    <div class="imgWrap">
      <img src="images/paris.jpg" alt="" class="cities_photos">
      <p class="imgDescription">This image looks super neat.</p>
    </div>
    <div class="imgWrap">
      <img src="images/la.jpg" alt="" class="cities_photos">
      <p class="imgDescription">This image looks super neat.</p>
    </div>
  </div>
</div>



