
<div class = "order_wrapper"> 
  <div class="order_header"> <p> Choose your Flavor </p> </div>
    <div class = "order_content">     
      <div class="order_frame">
         <div class="ice_creams">
         <div class="mover"></div>
         <div class="mover2"></div>
         <div class="mover3"></div>
         <div class="mover4"></div>
         <div class="mover5"></div>
         <div class="mover6"></div>

            <img src="images/allcones22.png" class="wide_icecream"></div>
          
       </div>

         
          <!-- <img src="images/order_icecream.png"> -->
    </div>
    
        <div class = "order_selection">
          <div class = "flavor" > <p> Select a Cone! </p> </div>
          <div class = "about_flavor">
           <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci praesentium ad expedita sapiente vero commodi, quam exercitationem aliquam sed libero cum earum qui amet nisi? Quos quo excepturi culpa, architecto? </p>
          </div>
          <div class = "order_button"> ORDER NOW </div>
        </div>
    </div>

    <div class = "order_clear"></div>

  <div id="formations"> 
    <div id="formation1">
      <FORM METHOD="POST" ACTION="/order-success">
          <div class="form_head"> 
            <p> Sign In <p> 
          </div>
          <div class="form_text"> 
            <input type="text" name="name_existing" placeholder="Email"> 
            <input type="password" name="password_existing" placeholder="Password">
          </div> <br>
          <div class="form_button">  
            <input type="submit" value="checkout">
          </div> 
          <div id="guest_continue"> 
            <p> Continue as Guest </p>
          </div>

      </form>
    </div>
       


    <div id="formations2">
      <FORM METHOD="POST" ACTION="/order-signup">  
          <div class="form_head"> 
            <p> Guest Checkout <p> 
          </div>
           <div class="form_text">
            <input type="text" name="firstname_guest" Placeholder="First Name"> 
            <input type="text" name="lastname_guest" Placeholder="Last Name"> 
            <input type="text" name="email_guest" Placeholder="Email">
            <input type="number" name="phone_guest" Placeholder="Phone">
            <input type="password" name="password_guest" Placeholder="Password">
            <input type="password" name="confirmpassword_guest" Placeholder="Confirm Password"> 
          </div>
          <div class="form_button">
            <input type="submit" value= "checkout">          
          </div>
     </form>     
    </div> <!-- formations2 end -->
  </div> <!-- large formations end -->

</div> <!-- main wrapper  -->
