<div class = "order_wrapper"> 

  <div class = "order_content">
      <h2> Choose your Flavor </h2>
    
      <div class = "order_mainimage">
        <img src="images/order_icecream.png">
      </div>
  
     
      <div class = "order_selection">
        <h4> Vanilla </h4>
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci praesentium ad expedita sapiente vero commodi, quam exercitationem aliquam sed libero cum earum qui amet nisi? Quos quo excepturi culpa, architecto? </p>
   
        
        <div class = "order_button">
          <p> Order now </p>
        </div>
      </div>
  </div>

  <div class = "order_clear"></div>

    <div id="formations">
      <div id="formation1">
      <FORM METHOD="POST" ACTION="/order-success">
          <table id="order_t01">
            <tr>
              <td> <h3> Sign In </h3> <td>
            </tr>
            <tr>
              <td>
                 <h4> Username</h4>
              </td>
              <td>
                <input type="text" name="name_existing" placeholder="Email"> 
              </td>

             <td> 
                <h4> Password  </h4> 
              </td>
              <td> 
                <input type="password" name="password_existing" placeholder="Password">
              </td> 
              <td> <input type="submit" value="checkout"> </td>                    
              </tr> 
          </table>
        </form>
    </div>
  <div id="guest_continue">
    <h> Continue as Guest </h4> 
  </div>
     <div id="formation1">   
      <FORM METHOD="POST" ACTION="/order-signup">  
          <table id="order_t02">

            <tr>
              <td> <h3> Guest </h3> <td>
            </tr>
            <tr> 
              <td> <h4> Name </h4> </td>
              <td> <input type="text" name="firstname_guest" Placeholder="First Name"> </td>
              <td> <input type="text" name="lastname_guest" Placeholder="Last Name"> </td>
            </tr>

             <tr>
              <td> <h4> Email </h4> </td>
              <td> <input type="text" name="email_guest"> </td>
              </tr>
            <tr>
              <td> <h4> Number </h4> </td>
              <td> <input type="number" name="phone_guest"> </td>            
           </tr>

            <tr>
              <td> <h4> Password </h4> </td>
              <td> <input type="password" name="password_guest"></td>
              <td> <input type="password" name="confirmpassword_guest" Placeholder="Confirm Password"> </td>
              <td> <input type="submit" value= "checkout"> </td>            
            </tr>
            </table>
          </form>     
     </div> 
  </div>
  <div class = "order_clear"></div>

</div>