<div id="runner_photo_wrapper">
  <div id="application_wrapper"> 
    <div id="title_apply">
      <h1 id="apply_header">Apply Here</h1>
    </div>
    <div id = "apply_runner_forms">
        <form onsubmit="return" name="application" action="/application-received" method="POST">
            <!-- First Name -->
            <label for="name"></label>
            <input class="app_form" data-validate="required" type="text" name="first_name", placeholder= " First Name">
            <br>
            <br>
            <!-- Last Name -->
            <label for="name"></label>
            <input class="app_form" data-validate="required" type="text" name="last_name", placeholder= " Last Name">
            <br>
            <br>
            <!-- Email -->
            <label for="email"></label>
            <input class="app_form" data-validate="required" type="text" name="email", placeholder= " Email Address">
            <br>
            <br>
            <!-- Phone -->
            <label for="phone"></label>
            <input class="app_form" data-validate="required" type="text" name="phone", placeholder= " Phone Number">
            <br>
            <br>
            <!-- City -->
            <label for="city"></label>
            <input class="app_form" data-validate="required" type="text" name="city", placeholder= " City">

            <button id="runner_button" input type="submit"> Become a Runner </button>
        </form>  
    </div>
  </div>
</div>

<div id="application_sell">
    <h1 id="app_sell_header">Flexible. Fun. Innovative.</h1>
    
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet quam nam rerum minus provident itaque suscipit cupiditate dolores repellendus tempora perferendis, deleniti ad explicabo, iusto magnam blanditiis culpa fugit accusantium! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet quam nam rerum minus provident itaque suscipit cupiditate dolores repellendus tempora perferendis, deleniti ad explicabo, iusto magnam blanditiis culpa fugit accusantium!</p>    
    
    <br>
    <h2= class="app_sell_header2"> Exceptional Customer Service </h2>
    
    <p class="app_sell_p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium nemo quisquam rerum consequuntur esse, aspernatur ea molestias autem porro. Iusto aliquam quas cum dignissimos nulla maxime odit repellat rerum aperiam!</p>
    
    <br>
    <h2= class="app_sell_header2"> Your Compensation </h2>

    <p class="app_sell_p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium nemo quisquam rerum consequuntur esse, aspernatur ea molestias autem porro. Iusto aliquam quas cum dignissimos nulla maxime odit repellat rerum aperiam!</p>

    <br>
    <h2= class="app_sell_header2"> Our Requirements </h2>

    <p class="app_sell_p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium nemo quisquam rerum consequuntur esse, aspernatur ea molestias autem porro. Iusto aliquam quas cum dignissimos nulla maxime odit repellat rerum aperiam!</p>
</div>



