<div id="runner_photo_wrapper">
  <div id="application_wrapper"> 
    <div id="title_apply">
      <h1>Apply Here</h1>
    </div>
    <div id = "apply_runner_forms">
    <form action="/application-recieved" method="POST">
        <!-- First Name -->
        <label for="name"></label>
        <input type="text" name="name", placeholder= "First Name">
        <!-- Last Name -->
        <label for="name"></label>
        <input type="text" name="name", placeholder= "Last Name">
        <!-- Email -->
        <label for="email"></label>
        <input type="text" name="email", placeholder= "Email Address">
        <!-- Phone -->
        <label for="phone"></label>
        <input type="text" name="phone", placeholder= "Phone Number">
        <!-- City -->
        <label for="city"></label>
        <input type="text" name="city", placeholder= "City">
        <input type="submit">
    </form>  
  </div>
</div>



