body {
  font-family: Helvetica, arial, sans-serif;
  font-size: 12px;
  color: #283B3F;
  margin: 0px;
}

#total_wrapper {
  width: 1200px;
  margin: 0 auto;
}

#logo {
  float: left;
  width: 60px;
  display: inline-block;
  padding: 20px 0px 0px 35px;
}

nav {
  display: inline-block;
  margin: 0 auto; 
  font-size: 1.2em;
  float: right;
  width: 100%;
}

#unordered_list_wrapper {
  display: inline-block;
  float: right;
  margin: 25px 0px 0px 0px;
}

ul.navigation li {
  padding: 30px 25px 25px 25px;
  list-style: none;
  display: inline;
}

ul.navigation a {
  font-size: .9em;
  text-decoration: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: bolder;
  color: #283B3F;
}

ul.navigation a:hover {
  color: #3bb9ff;
  font-weight: bold;
}


#universal_content_wrapper {
  padding: 90px 0px 0px 0px;
}





/*HOME (Preston)*/


#home_photo1_wrapper {
  background-image: url(images/WDI.jpg);
  background-size: cover;
  height: 750px
}









/*ORDER (Andy)*/

h2 {
  font-size: 60px;
  padding-bottom: 20px;
  margin-top: 100px;
}


.order_contents {
  width: 1200px;
  border: 1px red solid;
  height: 650px
}


.order_wrapper{
  border: 1px black solid;
}

.order_contents h2{
  color:black;
  text-align: center;
}

.order_mainimage img{
  width: 600px;
  height: auto;
  float: left;
  margin-left: 50px;
}

.order_selection{
  text-align: center;
  width: 300px;
  float: left;
  margin-left: 40px;
}

.order_selection h4{
  font-size: 20px;
}

.order_selection p{
  
}

.order_forms{
}


.action_forms{
width: 600px;
margin: 0 auto;
}
  

#order_t01{
}

#order_t02{
}



#order_t01 h4{
font-weight: lighter;
margin-right: 20px;
}

#order_t02 h4{
  font-weight: lighter;
  margin-right: 20px;
}


.order_button {
width: 100px;
border: 1px black solid;
float: left;
margin-left: 100px;
}

.order_button p {
  text-align: center;
  text-transform: uppercase;
}

.order_clear {
  clear: both;
}

.centerwords{
  text-align: center;
  margin: 20px;
  margin-right:
}

.guest {
  margin-bottom: 100px;
}


/*BECOME A RUNNER (Jake)*/








/*CONTACT (Jake)*/






/*FOOTER BELOW - DONT TOUCH!!*/


footer {
  display: inline-block;
  margin: 0 auto; 
  font-size: 18px;
  width: 100%;
  position: relative;
  bottom: 0%;
}

#contact_info {
  list-style: none;
  margin: 0px;
  position: relative;
  bottom: -10px;
  font-size: 14px;
  letter-spacing: 3px;
}

#facebook_link {
  float: right;
  position: relative;
  left: -40px;
  top: -35px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #283B3F;
}

#facebook_link:hover {
  text-decoration: underline;
}

h3 {
  letter-spacing: 1px;
}

p {
  line-height: 25px;
  text-align: justify;
  }

.spacer {
  margin: 200px 0px 100px 0px;
}