body {
  font-family: 'Quicksand', sans-serif;
  font-size: 12px;
  color: #283B3F;
  margin: 0px;
}

#total_wrapper {
  width: 1200px;
  margin: 0 auto;
}

#logo {
  float: left;
  width: 60px;
  display: inline-block;
  padding: 20px 0px 0px 35px;
  position: fixed;
  z-index: 10;
}

nav {
  display: inline-block;
  margin: 0 auto; 
  font-size: 1.2em;
  float: right;
  width: 100%;
}

#unordered_list_wrapper {
  display: inline-block;
  float: right;
  margin: 25px 0px 0px 0px;
}

ul.navigation li {
  padding: 30px 25px 25px 25px;
  list-style: none;
  display: inline;
}

ul.navigation a {
  font-size: .9em;
  text-decoration: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: bolder;
  color: #283B3F;
}

ul.navigation a:hover {
  color: #3bb9ff;
  font-weight: bold;
}


#universal_content_wrapper {
  padding: 90px 0px 0px 0px;
}





/*HOME (Preston)*/


#home_first_div {
  background-image: linear-gradient( rgba(0, 0, 0, 0), rgba(255, 169, 212, 0.1) ), url(images/background-ice-cream.jpg);
  background-size: cover;
  height: 750px;
  margin-top: 10px;
  min-width: 840px;
}

#home_intro_words {
  text-align: center;
  letter-spacing: 2px;
  font-size: 1.1em
}

#home_second_div {
  height: 700px;
}

#home_iphone {
  height: 300px;
  z-index: 2;
  margin: 0 auto;
  display: block;
  position: relative;
  left: 325px;
  top: 225px;
}

#home_macbook {
  height: 500px;
  z-index: 1;
  margin: 0 auto;
  display: block;
  position: relative;
  bottom: 275px;
  right: 25px;
}

#home_second_div {
  background: white /*linear-gradient( rgba(0, 0, 0, 0), rgba(255, 169, 212, .3)*/ );
  padding-top: 100px;
  height: 550px;
  min-width: 930px;
}

#fast_and_easy {
  word-spacing: 5px;
  letter-spacing: 1.5px;

}

.steps {
  width: 200px;
  padding: 50px 50px 10px 50px;
}

.step_nums {
  text-align: center;
  display: inline-block;
  padding: 0px 150px 0px 140px;
  font-size: 2em;
}

.step_description {
  text-align: center;
  display: inline-block;
  text-transform: uppercase;
  padding: 0px 60px 0px 45px;
  font-size: 1.5em;
  font-family: font-family: 'Quicksand', sans-serif;
  font-weight: bolder;
}

#home_third_div {
  height: 650px;
  background: rgba(152, 159, 191, 1);
  min-width: 900px;
}

.cities_photos {
  display: inline-block;
  width: 300px;
  height: 200px;
}

#cities_wrapper {
  padding-top: 70px;
  width: 1000px;
  margin: 0 auto;
}

.imgWrap {
  position: relative;
  display: inline;
}

#cities_we_serve {
  color: #deffff;
  font-family: 'Quicksand', sans-serif;
}

.imgDescription {
  position: absolute;
  color: white;
  font-size: 2em;
  z-index: 3;
  background-color: rgba(29, 106, 154, 0.72);
  visibility: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  bottom: 100px;
}

/*.imgWrap:hover .imgDescription {
  visibility: visible;
  position: absolute;
}*/
























/*.imgDescription {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(29, 106, 154, 0.72);
  color: #fff;
  width: 300px;
  height: 100px;

  visibility: hidden;
  opacity: 0;
  z-index: 3;

  text-align: center;

  -webkit-transition: visibility opacity 0.5s;
  
}


.imgWrap:hover .imgDescription {
  visibility: visible;
  opacity: 0.7;
  padding-top: 90px;
  font-size: 2em;
}*/


/*ORDER (Andy)*/

.order_frame {
  width: 514px; 
  height: 400px;
  float: left;
  overflow: hidden;
}

.wide_icecream {
  position: relative;
  left: 0px;
}

.mover {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 200px;
  top: 400px;
  z-index: 1;
  padding: 20px;
  
}

.mover2 {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 260px;
  top: 300px;
  z-index: 1;
  padding: 20px;

}

.mover3 {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 360px;
  top: 250px;
  z-index: 1;
    padding: 20px;


}

.mover4 {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 465px;
  top: 250px;
  z-index: 1;
    padding: 20px;

}

.mover5 {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 560px;
  top: 300px;
  z-index: 1;
  padding: 20px;


}

.mover6 {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 625px;
  top: 400px;
  z-index: 1;
  padding: 20px;

}

.order_header p{
  text-align: center;
  font-size: 2.5em;
  color: #283B40;
}

.order_wrapper{
  width: 1200px;
}

.order_content{
  width: 1000px;
  margin: 0 auto;
}


.order_mainimage img{
  width: 650px;
  height: auto;
  float: left;
}

.order_selection{
  text-align: center;
  width: 300px;
  float: left;
  margin-left: 50px;
  margin-top: 100px;
}

.flavor p{
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  color: #283B40;

}

.about_flavor {
width: 250px;
margin: 0 auto;
border-left: 1px black solid;
padding-left: 20px;
font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
}

.about_flavor p{
  text-align: left;
  line-height: 2em;
  line-height: 1.2em;
  font-size: 1.2em;
}

.order_selection p{
}


.order_button {
width: 100px;
height: 25px;
margin: 0 auto;
border: 1px solid black;
padding-top: 10px;
font-weight: bold;
border-radius: 14px;
margin-top: 10px;

}

.order_clear {
  clear: both;
}

#formations {
  width: 1200px;
}


#formation1{
  width: 200px;
  margin: 0 auto;
}

#formation1 .form_text input{
  width: 250px;
  height: 50px;
  margin-bottom: 5px;
}


#formations2{
  width: 600px;
  margin: 0 auto;
}

#formations2 .form_text input{
  width: 250px;
  height: 50px;
  margin-left: 20px;
  margin-bottom: 10px;
}

.formcolumn1{
  float: left
}

input::-webkit-input-placeholder {
   color: lightgrey;
   text-transform: uppercase;
    font-size: 1em;
}
.form_head p{
  color:black;
  font-size: 1.5em;
  text-align: center;
  padding-left: 40px;
}


.form_button input {
border-radius: 14px;
width: 255px;
border: 1px solid grey;
height: 50px;
background-color: white;
text-align: center;
text-transform: uppercase;
font-weight: bold;
}

.form_button2 input {
border-radius: 14px;
width: 255px;
border: 1px solid grey;
height: 50px;
background-color: white;
text-transform: uppercase;
font-weight: bold;
text-align: center;
margin-left: 170px;
margin-top: 20px;
}

#numbers_form input{
  text-align: center;
  width: 40px;
  height: 40px;
  font-size: 2em;
}

#numbers_form p{
  font-size: 1em;
  text-align: center;
}


#guest_continue{
  color: grey;
}


/*BECOME A RUNNER (Jake)*/

#runner_photo_wrapper {
  background-image: url(images/deliverybanner.jpg);
  background-size: cover;
  height: 750px;
  z-index: -1;
}

#title_wrapper {
  width: 350px;
  margin-top: 45px;
  margin-left: 100px;
  height: 60px;
  float: left;
  z-index: +1;
}

#banner_text {
  color: 7F796F;
  font-size: 2.8em;
  font-weight: normal;
}

#application_wrapper {
  width: 336px;
  height: 500px;
  position: fixed;
  margin-left: 862px;
  border: 1px black solid;
}

#title_apply {
  height: 50px;
  width: auto;
  text-align: center;
}

#apply_header {
  font-weight: lighter;
  color: #283B3F;
}

#apply_runner_forms {
  line-height: 20px;
  text-align: center;
  line-height: 8px;

}

#apply_runner_forms input{
}

.app_form {
  height: 50px;
  width: 250px;
  font-size: 16px;
}

#runner_button {
  height: 50px;
  width: 256px;
  margin-top: 30px;

}

#application_sell {
 margin-top: 30px;
 margin-left: 80px;
 height: 600px;
 width: 760px;
 }

#app_sell_header {
  font-size: 36px;
  font-weight: lighter;
}

#sell_text {
  margin-top: 15px;
}

.app_sell_header2 {
  font-size: 18px;
  margin-top: 16px;
}

.app_sell_p {
  font-size: 12px;
}

/*CONTACT (Jake)*/

#comment_form {
  /* border: 2px black solid;*/
   width: 1000px;
   margin: 0 auto;
   margin-top: 80px;
}

#comment_box {
   border: 1px red solid;
   width: 550px;
   height: 200px;
   resize: none;
}

#comment_name {
  width: 160px;
}

#comment_email {
  width: 160px;
}

#comment_submit {
  width: auto;
}





/*FOOTER BELOW - DONT TOUCH!!*/


footer {
  display: inline-block;
  margin: 0 auto; 
  font-size: 18px;
  width: 100%;
  position: relative;
  bottom: 0%;
}

#contact_info {
  list-style: none;
  margin: 0px;
  position: relative;
  bottom: -10px;
  font-size: 14px;
  letter-spacing: 3px;
}

#facebook_link {
  float: right;
  position: relative;
  left: -40px;
  top: -35px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #283B3F;
}

#facebook_link:hover {
  text-decoration: underline;
}

p {
  line-height: 25px;
  text-align: justify;
  }

.spacer {
}