body {
  font-family: 'Quicksand', sans-serif;
  font-size: 12px;
  color: #283B3F;
  margin: 0px;
}

#total_wrapper {
  width: 1200px;
  margin: 0 auto;
}

#logo {
  float: left;
  width: 60px;
  display: inline-block;
  padding: 20px 0px 0px 35px;
  position: fixed;
  z-index: 10;
}

nav {
  display: inline-block;
  margin: 0 auto; 
  font-size: 1.2em;
  float: right;
  width: 100%;
}

#unordered_list_wrapper {
  display: inline-block;
  float: right;
  margin: 25px 0px 0px 0px;
}

ul.navigation li {
  padding: 30px 25px 25px 25px;
  list-style: none;
  display: inline;
}

ul.navigation a {
  font-size: .9em;
  text-decoration: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: bolder;
  color: #283B3F;
}

ul.navigation a:hover {
  color: #3bb9ff;
  font-weight: bold;
}


#universal_content_wrapper {
  padding: 90px 0px 0px 0px;
}





/*HOME (Preston)*/


#home_first_div {
  background-image: linear-gradient( rgba(0, 0, 0, 0), rgba(255, 169, 212, 0.1) ), url(images/background-ice-cream.jpg);
  background-size: cover;
  height: 750px;
  margin-top: 10px;
  min-width: 840px;
}

#home_intro_words {
  text-align: center;
  letter-spacing: 2px;
  font-size: 1.1em
}

#home_second_div {
  height: 700px;
}

#home_iphone {
  height: 300px;
  z-index: 2;
  margin: 0 auto;
  display: block;
  position: relative;
  left: 325px;
  top: 225px;
}

#home_macbook {
  height: 500px;
  z-index: 1;
  margin: 0 auto;
  display: block;
  position: relative;
  bottom: 275px;
  right: 25px;
}

#home_second_div {
  background: white /*linear-gradient( rgba(0, 0, 0, 0), rgba(255, 169, 212, .3)*/ );
  padding-top: 100px;
  height: 550px;
  min-width: 930px;
}

#fast_and_easy {
  word-spacing: 5px;
  letter-spacing: 1.5px;

}

.steps {
  width: 200px;
  padding: 50px 50px 10px 50px;
}

.step_nums {
  text-align: center;
  display: inline-block;
  padding: 0px 150px 0px 140px;
  font-size: 2em;
}

.step_description {
  text-align: center;
  display: inline-block;
  text-transform: uppercase;
  padding: 0px 60px 0px 45px;
  font-size: 1.5em;
  font-family: font-family: 'Quicksand', sans-serif;
  font-weight: bolder;
}

#home_third_div {
  height: 650px;
  background: rgba(152, 159, 191, 1);
  min-width: 900px;
}

.cities_photos {
  display: inline-block;
  width: 300px;
  height: 200px;
}

#cities_wrapper {
  padding-top: 70px;
  width: 1000px;
  margin: 0 auto;
}

.imgWrap {
  position: relative;
  display: inline;
}

#cities_we_serve {
  color: #deffff;
  font-family: 'Quicksand', sans-serif;
}

.imgDescription {
  position: absolute;
  color: white;
  font-size: 2em;
  z-index: 3;
  background-color: rgba(29, 106, 154, 0.72);
  visibility: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  bottom: 100px;
}

/*.imgWrap:hover .imgDescription {
  visibility: visible;
  position: absolute;
}*/
























/*.imgDescription {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(29, 106, 154, 0.72);
  color: #fff;
  width: 300px;
  height: 100px;

  visibility: hidden;
  opacity: 0;
  z-index: 3;

  text-align: center;

  -webkit-transition: visibility opacity 0.5s;
  
}


.imgWrap:hover .imgDescription {
  visibility: visible;
  opacity: 0.7;
  padding-top: 90px;
  font-size: 2em;
}*/


/*ORDER (Andy)*/

.order_wrapper{
  border: 1px black solid;
}

.order_content h2{
  color:black;
  text-align: center;
}

.order_mainimage img{
  width: 600px;
  height: auto;
  padding-left: 300px;
}

.order_selection{
  margin: 0 auto;
  text-align: center;
  width: 300px;
}

.order_selection h4{
}

.order_selection p{
}

.order_forms{
}


.order_forms form{
  margin: 0 auto;
}

.order_signin_email{
  float: left;
}

.order_signin_password{
  float: left;
}

.order_button {
margin: 0 auto;
width: 150px;
border: 1px black solid;
}

.order_button p {
text-align: center;

}

.order_clear {
  clear: both;
}

/*BECOME A RUNNER (Jake)*/








/*CONTACT (Jake)*/






/*FOOTER BELOW - DONT TOUCH!!*/


footer {
  display: inline-block;
  margin: 0 auto; 
  font-size: 18px;
  width: 100%;
  position: relative;
  bottom: 0%;
}

#contact_info {
  list-style: none;
  margin: 0px;
  position: relative;
  bottom: -10px;
  font-size: 14px;
  letter-spacing: 3px;
}

#facebook_link {
  float: right;
  position: relative;
  left: -40px;
  top: -35px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #283B3F;
}

#facebook_link:hover {
  text-decoration: underline;
}

p {
  line-height: 25px;
  text-align: justify;
  }

.spacer {
  margin: 200px 0px 100px 0px;
}